@model IEnumerable<SchadTest.Models.InvoiceDetail>

@{
    ViewData["Title"] = "Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Detail Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalItbis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                Invoice Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.Qty)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.TotalItbis)
            </td>
            <td>
                    @Html.DisplayNameFor(modelItem  => item.SubTotal)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.Total)
            </td>
            <td>
                    @Html.DisplayFor(modelItem  => item.CustomerId)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<br>
<a asp-action="Index" asp-controller="Invoices">Back to List</a>

@*<h1>Details</h1>

<div>
    <h4>InvoiceDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalItbis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalItbis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@